body
{
    background-color: #61122f;
    color:#fff;
    font-size:16px;
    font-family: 'Oxygen', sans-serif;
}

/* **HEADER ** */
#header-nav
{
    border-radius: 0;
    border: 0;
    background-color: #f6b319;
}
#logo_img
{
    background:url('../images/logo_icon.png') no-repeat ;
    width: 110px;
    height: 100px;
    margin: 10px 15px 10px 0px ;
}
.navbar-brand
{
    padding-top: 13px;
}
.navbar-brand h1 /* restaurant name */
{
    font-family: 'Lora',serif;
    color: #557c3e;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    font-size: 1.9em;

}
.navbar-brand a:hover,.navbar-brand a:focus
{
    text-decoration: none;
}
.navbar-brand p /* kosher cert */
{
    color:#000;
    text-transform: uppercase;
    font-size: .9em;
    margin-top: 10px;
}
.navbar-brand p span /* star-k */
{
    vertical-align: middle;

}
#nav-list
{
    margin-top: 10px;
}
#nav-list a
{
    color: #951C49;
    text-align: center;
}
#nav-list a:hover
{
    background: #E7E7E7;
}
#nav-list a span
{
    font-size: 1.6em;
}
#phone
{
    margin-top: 5px;
}
#phone a
{
    /* phone number */
    text-align: right;
    padding-bottom: 0;
}
#phone div
{
    /* we deliver */
    color: #557c3e;
    text-align: right;
    padding-right: 15px;
}
.navbar-header button.navbar-toggle,.navbar-header .iconbar
{
    border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle
{
    clear: both;
    margin-top: -30px;
}
/* end of the header */


/* footer */
.panel-footer
{
    margin-top:30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222;
    border-top: 0;
}
.panel-footer div .row
{
    margin-bottom: 35px;
}
#hours , #address
{
    line-height: 2;
}
#hours>span,#address>span
{
    font-size:1.3em;
}
#address p
{
    color: #557c3e;
    font-size:.8em;
    line-height: 1.8;
}
#testimonials
{
    font-style: italic;
}
#testimonials p:nth-child(2)
{
    margin-top: 25px;
}

/* end of the footer */
/*  start of the homepage */
#menu-tile,#specials-tile,#map-tile
{
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
}
#menu-tile:hover,#specials-tile:hover,#map-tile:hover
{
    box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile
{
    background: url('../images/menu-tile.png') no-repeat;
    background-position: center;
}

#specials-tile
{
    background: url('../images/specials-tile.png') no-repeat;
    background-position: center;
}
#menu-tile span,#specials-tile span,#map-tile span
{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color:#000;
    color: #fff;
    opacity: .8;
}
/* end of the homepage */

/* ************************************************************************************/
/* media queries */
/* for larger devices */
@media(min-width:1200px)
{
    .container .jumbotron
    {
        background:url('../images/jumbotron_1200.png') no-repeat;
        height: 675px;
        box-shadow: 0 0 50px #3F0C1F;
        border: 5px  solid #3F0C1F;
    }
}
/* for medium devices only */
@media (min-width: 992px)and (max-width:1199px)
{
    #logo_img
    {
        background: url('../images/logo_icon\ \(75\ x\ 75\).png') no-repeat;
        width: 75px;
        height: 75px;
        margin: 3px 3px 3px 0;
    }
    /*   end of the header */
    .container .jumbotron
    {
        background:url('../images/jumbotron_992.png') no-repeat;
        height: 558px;
        box-shadow: 0 0 50px #3F0C1F;
        border: 5px  solid #3F0C1F;
    }
}
/* for small devices only */
@media (min-width:768px)and (max-width:991px)
{
    .container .jumbotron
    {
        background:url('../images/jumbotron_768.png') no-repeat;
        height: 443px;
        box-shadow: 0 0 50px #3F0C1F;
        border: 5px  solid #3F0C1F;
    }
    
}
/* for small devices only */
@media (max-width:767px)
{
    .navbar-brand
    {
        height: 90px;
    }
    .navbar-brand h1
    {
        padding-top: 10px;
        font-size: 6vw;
    }
    .navbar-brand p
    {
        font-size: .8em;
        margin-top: 10px;
    }
    .navbar-brand p img
    {
        height: 20px;
    }
    #collapsable-nav a
    {
        font-size:1.2em;
    }
    #collapsable-nav a span
    {
        margin-right: 5px;
        font-size: 1em;
    }    
    /*
    #call-btn
    {
        background-color: #f6b319;
        margin: 3px 30px 3px 30px; 
        border: 1px solid white;
        border-radius: 7px;
    }
    #call-btn span
    {
        font-size: 2em;    
    }*/
    #call-btn>a
    {
        font-size: 1.5em;
        display: block;
        margin: 0 20px;
        padding: 10px;
        border: 2px solid #fff;
        background-color: #f6b319;
        color: #951c49;
    }
    #xs-deliver
    {
        margin-top: 5px;
        font-size: .7em;
        text-transform: uppercase;
        letter-spacing: .1em;
    }
    .container .jumbotron
    {
        margin-top: 30px;
        padding: 0;
        box-shadow: 0 0 50px #3F0C1F;
        border: 5px  solid #3F0C1F;
    }
    #menu-tile,#specials-tile
    {
        width: 360px;
        margin:0px auto 15px;
    }
    .panel-footer section
    {
        margin-bottom: 30px;
        text-align: center;
    }
    
   
}
@media(max-width:479px)
{
    .navbar-brand h1
    {
        padding:5px;
        font-size: 6vw;
    }
    #menu-tile,#specials-tile
    {
        width: 280px;
        margin: 0px auto 15px;
    }

}


